[submodule "skills/imported/artifact-refiner"]
	path = skills/imported/artifact-refiner
	url = git@github.com:GQAdonis/artifact-refiner-skill.git
[submodule "skills/imported/sycophancy-correction"]
	path = skills/imported/sycophancy-correction
	url = https://github.com/Know-Me-Tools/sycophancy-correction-skill.git
